In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pyspark.sql.functions as f
import pyspark.sql.types as t

In [2]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName('intro')
    .master('local[2]')
    .getOrCreate()
)

In [3]:
df = spark.createDataFrame(
    data=[
        (1, 2, 'a'),
        (1, 2, 'b'),
        (1, 2, 'c'),
        (1, 2, 'd'),
    ],
    schema=['one', 'two', 'letters']
)

In [5]:
df.show()

+---+---+-------+
|one|two|letters|
+---+---+-------+
|  1|  2|      a|
|  1|  2|      b|
|  1|  2|      c|
|  1|  2|      d|
+---+---+-------+

In [25]:
df.rdd.getNumPartitions()

4

In [53]:
larger_df = spark.createDataFrame(
    data=[(1, 2, 'a') for i in range(500000)],
    schema=['a', 'b', 'c']
)

In [58]:
larger_df = larger_df.withColumn('d', f.col('a')+f.col('b'))

In [59]:
%%time
larger_df.agg(f.sum(f.col('d')))

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 41.5 ms

DataFrame[sum(d): bigint]

In [60]:
%%time
larger_df.agg(f.sum(f.col('d'))).show()

+-------+
| sum(d)|
+-------+
|1500000|
+-------+

CPU times: user 10 ms, sys: 0 ns, total: 10 ms
Wall time: 574 ms