In [4]:
from datetime import datetime, timedelta

# pandas and plotting libraries for visualizations
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# module containing functions for manipulation pyspark dataframes
import pyspark.sql.functions as f
import pyspark.sql.types as t
from pyspark.sql.window import Window

# class which will let us create spark objects
from pyspark.sql import SparkSession

# helper functions for the class
from helpers import display, read_df, write_df

## [PySpark SQL docs](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html)

## Create a Spark Session

In [2]:
spark = (
    SparkSession
    .builder
    .appName('data_processing')
    .master('local[2]')
    .getOrCreate()
)

## Read in data file

In [5]:
df = read_df(spark, '../taxi_2016.parquet')

In [6]:
df.columns

['trip_id',
 'taxi_id',
 'start_time',
 'end_time',
 'trip_miles',
 'pickup_census_tract',
 'dropoff_census_tract',
 'fare',
 'tips',
 'trip_total',
 'payment_type',
 'company']

In [7]:
# only have tip data for credit card transactions
tips = df.where(f.col('payment_type') == 'Credit Card')

In [9]:
tips_by_census_tract = tips.groupby('dropoff_census_tract').agg(f.avg(f.col('trip_miles')).alias('avg_miles'))
%time display(tips.join(tips_by_census_tract, 'dropoff_census_tract', 'left'), 10)

CPU times: user 20 ms, sys: 20 ms, total: 40 ms
Wall time: 18.7 s

,dropoff_census_tract,trip_id,taxi_id,start_time,end_time,trip_miles,pickup_census_tract,fare,tips,trip_total,payment_type,company,avg_miles
0,17031832600,2d495c6e8ee5cad52f64de2844f5bdd9999c29f5,75dd278c61cc4b3651b76a89407986db8362b1fa6b3947...,2016-07-06 18:45:00,2016-07-06 19:00:00,3.3,17031839100,13.25,2.06,15.81,Credit Card,None,3.349968
1,17031832600,2d4c21df0917fd4c630c704b4d1b501c8aec5e14,99ab99695f31d67888669dcd596cbd0cda61f5c717b8d7...,2016-12-16 19:15:00,2016-12-16 19:30:00,2.1,17031081800,9.50,1.50,11.50,Credit Card,None,3.349968
2,17031832600,2d4fbb3ea94d4ed30fb45c9c7f278ac75b632fff,6848fb65d081cae1ae77f1828f6ec5fce4bb75c28a81bc...,2016-10-26 16:00:00,2016-10-26 16:15:00,0.1,17031081800,12.25,3.05,15.30,Credit Card,Taxi Affiliation Services,3.349968
3,17031832600,2d50340947f1362cdebc258576e8c84423e25f6e,b07a41c369d99e7e7638e698063efe74c8cd8c25e3e9e8...,2016-01-21 20:00:00,2016-01-21 20:00:00,2.7,17031081600,10.25,2.55,12.80,Credit Card,Northwest Management LLC,3.349968
4,17031832600,2d51c476faa582cfa6a4ff99a1e8c08ac2396a0b,9d20d7617e35a8d763ca0bbe3b47308e4bb8e368a8f3bd...,2016-08-12 15:45:00,2016-08-12 17:00:00,15.0,17031980000,43.50,14.25,61.75,Credit Card,Northwest Management LLC,3.349968
5,17031832600,2d527e75c7f3ca5e1abd1618d6715b2c4a9128ab,791d74df896226a452a8e223e2ec9fa0df7d80bb7ca180...,2016-12-18 03:30:00,2016-12-18 03:45:00,2.7,17031081700,9.75,2.00,11.75,Credit Card,Taxi Affiliation Services,3.349968
6,17031832600,2d53ad1ad5ba8dae3763c4fc8ca12b5c0f8ef171,155ffe17bc32e7c3bfdfdba2750e82c6a23dab24f77d6c...,2016-02-27 21:00:00,2016-02-27 21:00:00,0.6,17031071300,4.75,1.00,5.75,Credit Card,None,3.349968
7,17031832600,2d544df4ac9b89d61a8231d88ebdcf7e8162f7ae,5cc8bfcc9c086a9271655b2a81d619ab5c9c4b3e75e40a...,2016-10-02 03:45:00,2016-10-02 03:45:00,2.6,17031062100,10.25,2.45,14.70,Credit Card,None,3.349968
8,17031832600,2d557486f1ebe80551492915d726bef7393ca91d,23f128209b227dfd806428d903d59e15ec4bb57458648d...,2016-03-05 02:45:00,2016-03-05 02:45:00,0.0,17031080300,6.75,2.00,8.75,Credit Card,Blue Ribbon Taxi Association Inc.,3.349968
9,17031832600,2d5cb8290f83470a9fc8da34ac2f10ba2161367b,96a3f43a4eb7400d581a682773569e457cdcba002adf40...,2016-03-14 19:30:00,2016-03-14 20:00:00,4.2,17031320100,16.25,3.25,19.50,Credit Card,Dispatch Taxi Affiliation,3.349968

In [10]:
display(tips.groupby('dropoff_census_tract').agg(f.avg(f.col('tips')).alias('avg_tip')), 10)

   dropoff_census_tract   avg_tip
0           17031832600  3.070037
1           17031837400  3.575000
2           17031062200  3.500545
3           17031843200  2.444706
4           17031806900  6.286667
5           17031020602  2.136563
6           17031130200  1.000000
7           17031241300  3.069375
8           17031150501  2.000000
9           17031838000  2.888571

In [11]:
census_block_window = Window().partitionBy('dropoff_census_tract')
tips = tips.withColumn('avg_miles', f.avg(f.col('trip_miles')).over(census_block_window))
%time display(tips)

CPU times: user 30 ms, sys: 10 ms, total: 40 ms
Wall time: 10.9 s

,trip_id,taxi_id,start_time,end_time,trip_miles,pickup_census_tract,dropoff_census_tract,fare,tips,trip_total,payment_type,company,avg_miles
0,2d495c6e8ee5cad52f64de2844f5bdd9999c29f5,75dd278c61cc4b3651b76a89407986db8362b1fa6b3947...,2016-07-06 18:45:00,2016-07-06 19:00:00,3.30,17031839100,17031832600,13.25,2.06,15.81,Credit Card,None,3.349968
1,2d4c21df0917fd4c630c704b4d1b501c8aec5e14,99ab99695f31d67888669dcd596cbd0cda61f5c717b8d7...,2016-12-16 19:15:00,2016-12-16 19:30:00,2.10,17031081800,17031832600,9.50,1.50,11.50,Credit Card,None,3.349968
2,2d4fbb3ea94d4ed30fb45c9c7f278ac75b632fff,6848fb65d081cae1ae77f1828f6ec5fce4bb75c28a81bc...,2016-10-26 16:00:00,2016-10-26 16:15:00,0.10,17031081800,17031832600,12.25,3.05,15.30,Credit Card,Taxi Affiliation Services,3.349968
3,2d50340947f1362cdebc258576e8c84423e25f6e,b07a41c369d99e7e7638e698063efe74c8cd8c25e3e9e8...,2016-01-21 20:00:00,2016-01-21 20:00:00,2.70,17031081600,17031832600,10.25,2.55,12.80,Credit Card,Northwest Management LLC,3.349968
4,2d51c476faa582cfa6a4ff99a1e8c08ac2396a0b,9d20d7617e35a8d763ca0bbe3b47308e4bb8e368a8f3bd...,2016-08-12 15:45:00,2016-08-12 17:00:00,15.00,17031980000,17031832600,43.50,14.25,61.75,Credit Card,Northwest Management LLC,3.349968
5,2d527e75c7f3ca5e1abd1618d6715b2c4a9128ab,791d74df896226a452a8e223e2ec9fa0df7d80bb7ca180...,2016-12-18 03:30:00,2016-12-18 03:45:00,2.70,17031081700,17031832600,9.75,2.00,11.75,Credit Card,Taxi Affiliation Services,3.349968
6,2d53ad1ad5ba8dae3763c4fc8ca12b5c0f8ef171,155ffe17bc32e7c3bfdfdba2750e82c6a23dab24f77d6c...,2016-02-27 21:00:00,2016-02-27 21:00:00,0.60,17031071300,17031832600,4.75,1.00,5.75,Credit Card,None,3.349968
7,2d544df4ac9b89d61a8231d88ebdcf7e8162f7ae,5cc8bfcc9c086a9271655b2a81d619ab5c9c4b3e75e40a...,2016-10-02 03:45:00,2016-10-02 03:45:00,2.60,17031062100,17031832600,10.25,2.45,14.70,Credit Card,None,3.349968
8,2d557486f1ebe80551492915d726bef7393ca91d,23f128209b227dfd806428d903d59e15ec4bb57458648d...,2016-03-05 02:45:00,2016-03-05 02:45:00,0.00,17031080300,17031832600,6.75,2.00,8.75,Credit Card,Blue Ribbon Taxi Association Inc.,3.349968
9,2d5cb8290f83470a9fc8da34ac2f10ba2161367b,96a3f43a4eb7400d581a682773569e457cdcba002adf40...,2016-03-14 19:30:00,2016-03-14 20:00:00,4.20,17031320100,17031832600,16.25,3.25,19.50,Credit Card,Dispatch Taxi Affiliation,3.349968
10,2d60fea1a6cfb04c3b4321e39625256dad143683,29f6d119e21d61401aa5156346aca14fad3d0fea0dc1c8...,2016-01-23 00:30:00,2016-01-23 00:45:00,1.90,17031081800,17031832600,9.00,2.00,11.00,Credit Card,Taxi Affiliation Services,3.349968
11,2d631e03416bd1fe846fba8fd5a5ef937f1384a4,c1a2599121801de9434ab559cae09ef16b442f88cca541...,2016-03-01 17:45:00,2016-03-01 18:00:00,3.00,17031839100,17031832600,12.25,3.00,16.25,Credit Card,None,3.349968
12,2d666fd2c4b27cbbe9beed938996c08e245c8992,567c4d46516a4e135fc8bf6677168690e8d884a9499207...,2016-11-19 02:30:00,2016-11-19 02:30:00,0.60,17031832600,17031832600,4.50,2.00,8.00,Credit Card,None,3.349968
13,2d6acf5e76765822219e6998b967808f89da2b06,b39911a1ab050d3e87534f69187fca5a7559dc62d12298...,2016-10-06 15:45:00,2016-10-06 16:00:00,4.00,17031839100,17031832600,13.25,2.65,15.90,Credit Card,Taxi Affiliation Services,3.349968
14,2d6eeeaa2e99c442ea98b1d060235eed0c745f1c,eeace255ebbdbaf09d7ba7ec7a90c018b0f4dc4ac3b306...,2016-03-04 19:30:00,2016-03-04 19:45:00,0.10,17031081700,17031832600,10.00,2.00,12.00,Credit Card,Taxi Affiliation Services,3.349968
15,2d733d03a91c9a3d7f4a402f77d4787a5f518671,202297ab502d610012a2f8e0e367d69a3fb85ab2520dde...,2016-03-25 17:15:00,2016-03-25 17:30:00,2.70,17031081600,17031832600,12.50,3.00,15.50,Credit Card,None,3.349968
16,2d7e55e922dd9fac37a1582aaf00f0489a2428b7,e2ef41c25d62531f151e521633756c5391f81eaba7e11c...,2016-05-26 21:00:00,2016-05-26 21:15:00,4.20,17031839100,17031832600,13.50,2.70,16.20,Credit Card,Dispatch Taxi Affiliation,3.349968
17,2d82359cd4217a7596278c950eecee57a3cea06e,86f31536149b4efca1799d06aeaab1f7d65c8461066c73...,2016-05-02 16:00:00,2016-05-02 16:15:00,3.10,17031081401,17031832600,12.00,2.40,14.40,Credit Card,KOAM Taxi Association,3.349968
18,2d863946abdf3c1ce854f34b6b2e146b97e03dc7,8b518cb35743db24b2498b46d3eb2e89321a5f26a4601f...,2016-06-30 15:15:00,2016-06-30 15:30:00,0.10,17031081700,17031832600,11.25,2.25,13.50,Credit Card,Taxi Affiliation Services,3.349968
19,2d87051060d5b0f1a38bbe61feae3a02b8f614a8,1c87f263c28aad874e0931b598767aeab2dbb7bbdb89d5...,2016-11-17 17:45:00,2016-11-17 18:15:00,2.80,17031081500,17031832600,12.00,2.40,14.40,Credit Card,Choice Taxi Association,3.349968
20,2d88ee8e5e56c239742891d6ba328e33865ceb02,d605efe02814f93610439ab1fc12ebc8e5383638118d35...,2016-06-21 19:15:00,2016-06-21 19:30:00,1.90,17031081202,17031832600,8.50,2.00,11.00,Credit Card,None,3.349968
21,2d8cd64a799df3e8f8e6aa295ec1b10edaa5fe2e,effbf1619864cc88b7cc99ecf936ef65065b329c827b2c...,2016-03-09 22:15:00,2016-03-09 22:30:00,2.90,17031081700,17031832600,10.50,1.50,12.00,Credit Card,Dispatch Taxi Affiliation,3.349968
22,2d8dfdac3fc579cc74bfb7662e5ac35f0d4526fd,7fd2bbba58b9c27f54afededbaa4f5fd4618e36e28feea...,2016-12-11 01:15:00,2016-12-11 01:15:00,2.10,17031081100,17031832600,8.50,2.00,11.50,Credit Card,Taxi Affiliation Services,3.349968
23,2d8fc6a949e48d455e85f9cba21752764eb45560,12ba5aa2334dff3acea9682a3151748c671de6f91c3e35...,2016-06-11 17:30:00,2016-06-11 17:45:00,1.80,17031071500,17031832600,8.50,2.00,12.00,Credit Card,Dispatch Taxi Affiliation,3.349968
24,2d8fe117ac13425fb2576f28a546b3e98a75d632,178a1b634223b6fcd424358087c117587d4d6b3b03b1ce...,2016-04-02 19:00:00,2016-04-02 19:30:00,0.00,17031839100,17031832600,16.75,3.55,21.30,Credit Card,Blue Ribbon Taxi Association Inc.,3.349968
25,2d990abf3c16496348f5f3739d59a9384bea9be8,f32164e8d3ca09446d560c43e6648e6f79fe225b23d013...,2016-03-12 15:00:00,2016-03-12 15:15:00,0.20,17031839100,17031832600,13.50,2.90,17.40,Credit Card,Taxi Affiliation Services,3.349968
26,2d995527145543d226a919e273011de496b81b1b,78e56e4dcb2549c516132cf0413d209f8572ac8d8b130a...,2016-05-04 19:30:00,2016-05-04 19:45:00,0.00,17031081800,17031832600,10.00,2.00,12.00,Credit Card,Taxi Affiliation Services,3.349968
27,2d99de1e33b368de41395efb40c972491e2578c1,7d28a37f6608d778912b88c333ea533c9d03494b9ed1b6...,2016-03-05 17:45:00,2016-03-05 18:00:00,1.20,17031071300,17031832600,6.25,0.00,7.25,Credit Card,Chicago Medallion Management,3.349968
28,2da10cabee8c1da19fac48a59f582597f72101a4,65c253eb76991d16eb75df5452fd9ee36925972c14b615...,2016-10-08 23:00:00,2016-10-08 23:15:00,1.40,17031071500,17031832600,7.00,3.25,12.25,Credit Card,Taxi Affiliation Services,3.349968
29,2da111d7079c295391f8071452988379142d7922,d84c3b3515e9b0be353baccf4cfba1e0cef7e656261dc5...,2016-12-16 15:00:00,2016-12-16 15:00:00,1.20,17031071400,17031832600,6.75,2.00,8.75,Credit Card,Taxi Affiliation Services,3.349968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2e3058a6590638e1ad32d3381c3531e983e71f11,1c1038c409f6c90a90bd7247076f7596aeff9aa86af141...,2016-03-26 19:00:00,2016-03-26 19:15:00,0.10,17031839100,17031832600,10.50,3.15,13.65,Credit Card,Taxi Affiliation Services,3.349968
71,2e362c2e5e84d3c728c9c0b88004167f1b78553c,1740453218e57a462245402beb10e71c04aca8d8de3e5b...,2016-12-09 23:15:00,2016-12-09 23:30:00,2.97,17031839100,17031832600,10.75,1.50,12.75,Credit Card,None,3.349968
72,2e373401714f9e3f60881cf846dc950cb28b29eb,8cba6debdffc9ce9edff91470b5609aa48a6d961320247...,2016-07-28 19:15:00,2016-07-28 19:30:00,3.40,17031839100,17031832600,13.00,2.00,15.50,Credit Card,None,3.349968
73,2e3ef43c564106a957f1141f6ce3d1dedc31cfe3,9ca885399cc8b816626c963092acd6676ff75f7700d5cf...,2016-11-20 03:30:00,2016-11-20 03:30:00,0.00,17031071200,17031832600,6.00,1.00,7.00,Credit Card,Taxi Affiliation Services,3.349968
74,2e41cdd2e9caa0da211ff89b54910eea3eb13a9c,263ec5ffaba54538be6f61e70dc9da4a57edeac2965b93...,2016-04-02 20:30:00,2016-04-02 20:45:00,2.40,17031081201,17031832600,9.50,2.00,12.50,Credit Card,None,3.349968
75,2e491a9258f169c91de0d7c173c046bfbe46e904,dc5b9589d520699d09d46be9c514998c013c755321217a...,2016-11-19 17:00:00,2016-11-19 17:30:00,0.10,17031839100,17031832600,12.25,3.30,16.55,Credit Card,Taxi Affiliation Services,3.349968
76,2e4a7509f3ef06daf6599330adf22f6f7d8bb5d1,727d25ef3e713739c21fdf1d666cd90359b51ddc7f410c...,2016-07-07 16:45:00,2016-07-07 17:00:00,3.50,17031839100,17031832600,11.00,2.20,13.20,Credit Card,Choice Taxi Association,3.349968
77,2e4d2ef12e7f848f9bb68af33a88038df64bdbe7,5d925afb94e55415f2fd19aed378aa65910296118b3854...,2016-11-02 17:15:00,2016-11-02 18:30:00,15.00,17031980000,17031832600,44.50,9.80,58.80,Credit Card,None,3.349968
78,2e4d49794db5684e26cc05d421e5fc336a19ad45,a5aedce1493aa9133a7679c1a7ed7e4efc5b4bd55a19a4...,2016-01-03 02:00:00,2016-01-03 02:00:00,0.10,17031080100,17031832600,7.25,2.00,10.25,Credit Card,Taxi Affiliation Services,3.349968
79,2e4e6a877245e5149bcdd6e24b7548e31677051e,4e1cc47be197da1762ea9877e4b007495e43e8233dd584...,2016-08-25 21:15:00,2016-08-25 21:30:00,1.70,17031081800,17031832600,7.75,1.00,9.25,Credit Card,None,3.349968
80,2e5067a0ac164e87332df7166e2f365e17f2e3d1,574b161e75a7dda9dc1f63751af8b83c982a3a76f5fc88...,2016-12-03 02:00:00,2016-12-03 02:15:00,2.30,17031081800,17031832600,9.50,2.00,12.00,Credit Card,None,3.349968
81,2e5139d78a6c6e90b5ad99e0cb75b9ecc74246a7,540668d02aeae169ee7fa9a030a707352def531b109a0c...,2016-03-05 21:00:00,2016-03-05 21:15:00,0.00,17031071100,17031832600,4.75,3.00,8.75,Credit Card,Taxi Affiliation Services,3.349968
82,2e55505cd649549ca15b98eceb6bb8212e0a011c,effecc1cd82175a1d0bbe1def9ef38f52a9f6f437d1981...,2016-04-02 20:15:00,2016-04-02 20:30:00,0.20,17031032100,17031832600,13.25,2.65,15.90,Credit Card,Taxi Affiliation Services,3.349968
83,2e5e47c71bb1597f297de43a223b5250820fc46e,5abfbbea714f733de995225d5cb702366431e8022912c5...,2016-10-29 00:15:00,2016-10-29 00:30:00,1.60,17031080202,17031832600,7.75,2.00,9.75,Credit Card,Taxi Affiliation Services,3.349968
84,2e5ee6566e3e562595d1445a53502f5ce3254713,a37d54010f2d80b771b321a3130ce01a9e8ce8f1e0f6e6...,2016-01-01 00:15:00,2016-01-01 00:45:00,3.60,17031081700,17031832600,17.65,2.00,20.65,Credit Card,None,3.349968
85,2e606ada4e3a65b6f5a5d7cd035f2ff86bda7944,8a21e68fe864597d995c1eee8a013576d6b0aeb7d36b2e...,2016-01-19 18:15:00,2016-01-19 18:30:00,2.50,17031081500,17031832600,10.75,2.00,12.75,Credit Card,None,3.349968
86,2e64bf5874842daea8dabca3339ba1bb62b38a2b,a702917bb428f1fa03c3e588e0a461ea1bd90122d1da8c...,2016-05-06 11:00:00,2016-05-06 11:45:00,0.00,17031980000,17031832600,43.75,5.00,48.75,Credit Card,Taxi Affiliation Services,3.349968
87,2e68fdeda60b1d2badcdfbb45ead18abf267b17a,deb3b05c75421df23a52faf99f76879ad4b7d719a5abbe...,2016-04-16 22:15:00,2016-04-16 22:30:00,2.30,17031241400,17031832600,9.25,2.00,11.25,Credit Card,Taxi Affiliation Services,3.349968
88,2e6bf2b31c7b9878fe1c9728dc891f9591f3982a,9d0ae86bab93b06fc8d952808f4fcc89ee58f494fac843...,2016-02-06 02:45:00,2016-02-06 02:45:00,2.70,17031081700,17031832600,10.25,2.05,12.30,Credit Card,Chicago Medallion Leasing INC,3.349968
89,2e6c859295d7462e3e4f5d9c591e79a85585454a,48f864be73241484cbe1209ee089fd19e4c3c2fa37714e...,2016-12-14 21:45:00,2016-12-14 22:00:00,3.40,17031320100,17031832600,12.50,2.00,15.00,Credit Card,None,3.349968
90,2e700e27957849d7c7bc481417e3b3b463ce5ec2,14b8965581705a67e75b3fadeb43570909052a0f646341...,2016-01-29 18:00:00,2016-01-29 18:15:00,3.10,17031839100,17031832600,12.25,3.40,17.15,Credit Card,Choice Taxi Association,3.349968
91,2e7121fa35176c7f1fcd5edd5fd5525d9959d782,995b6bbd9193c65ec96fba1f5ad0f412810baeea05f2b3...,2016-08-14 00:30:00,2016-08-14 00:30:00,1.80,17031081100,17031832600,7.75,2.00,10.75,Credit Card,Dispatch Taxi Affiliation,3.349968
92,2e712a58e2c18df6eaf6ec1b555ae9aab55e7bb6,38edc0f9e46b40a209ec3602b3ed3bab8f8f27cbad9646...,2016-11-01 20:00:00,2016-11-01 20:00:00,2.70,17031081700,17031832600,10.75,3.20,13.95,Credit Card,Taxi Affiliation Services,3.349968
93,2e7333e1d58942ecdaa2c3673210a39d0d0d4143,ce54c7c28cb19a2cea84881f18dba17780375cc59a8c8f...,2016-10-08 20:30:00,2016-10-08 20:30:00,1.10,17031071400,17031832600,6.00,1.00,8.00,Credit Card,Taxi Affiliation Services,3.349968
94,2e73c00a5625495561bb4fa02f38c9ad0b621e95,c02c019ebfcfa412db9b41d7569dd9a3db5a959ef6157f...,2016-11-20 02:30:00,2016-11-20 02:30:00,0.10,17031081600,17031832600,10.00,3.00,13.00,Credit Card,Taxi Affiliation Services,3.349968
95,2e73f06064067ffb467ab6e6f56c70b98a937af6,e3ee66ff1542850bcbbd43b13b0fb44e3dee87ec43c5f9...,2016-03-02 18:15:00,2016-03-02 18:30:00,3.00,17031081600,17031832600,11.25,2.00,13.25,Credit Card,None,3.349968
96,2e74037e5db0e3fbf20117e97b258d7e32bd611c,c7a2b9554ad4efdac7ae4fc8ad99678ffefa21bccf6d23...,2016-08-13 20:30:00,2016-08-13 20:30:00,1.10,17031071500,17031832600,6.00,1.00,7.00,Credit Card,Choice Taxi Association,3.349968
97,2e7495a23e4a2ff77eb0f5f2d731bb64bb2bf5e1,a1b762f1aec578cc84bb53bb095eaf9dffd68e6ad0c271...,2016-10-16 02:30:00,2016-10-16 02:45:00,0.84,17031070300,17031832600,5.25,4.00,10.75,Credit Card,None,3.349968
98,2e74c62049185bd3b3adb382b1bffd0e41dc7424,94d2bd206a73443d243a36aed26c8fa01ca895438f8ce8...,2016-05-30 02:15:00,2016-05-30 02:15:00,1.00,17031080300,17031832600,5.75,2.00,7.75,Credit Card,Taxi Affiliation Services,3.349968
99,2e74f889b5a408c5e5b088ac87a71b2622f3fde3,cba90a1889719ae8ea394f6ffdabbe026e90f5e0759c2b...,2016-05-06 17:45:00,2016-05-06 18:00:00,0.00,17031839100,17031832600,12.25,2.45,14.70,Credit Card,Blue Ribbon Taxi Association Inc.,3.349968

In [12]:
%%time
display(
    tips
    .withColumn('dropoff_census_tract', f.col('dropoff_census_tract').cast(t.StringType()))
    .select(
        f.col('dropoff_census_tract').substr(startPos=6, length=4).alias('spark_block')
    )
    .groupBy('spark_block')
    .count()
    .orderBy('count', ascending=False), 
    10
)

CPU times: user 30 ms, sys: 10 ms, total: 40 ms
Wall time: 5.49 s

  spark_block   count
0        None  348792
1        8391  136992
2        0814   78733
3        3201   78488
4        9800   52747
5        0815   49335
6        0817   47492
7        0818   40612
8        2819   35806
9        0812   34744

In [13]:
split_pd = f.pandas_udf(lambda pd_series: pd_series.str[5:9], returnType=t.StringType())

In [14]:
%%time

display(
    tips
    .withColumn('dropoff_census_tract', f.col('dropoff_census_tract').cast(t.StringType()))
    .select(
        split_pd(f.col('dropoff_census_tract')).alias('pd_block'),
    )
    .groupby('pd_block')
    .count()
    .orderBy('count', ascending=False),
    10
)

CPU times: user 70 ms, sys: 20 ms, total: 90 ms
Wall time: 12.1 s

  pd_block   count
0     None  348792
1     8391  136992
2     0814   78733
3     3201   78488
4     9800   52747
5     0815   49335
6     0817   47492
7     0818   40612
8     2819   35806
9     0812   34744

In [15]:
split_by_row = f.udf(lambda x: None if x is None else x[5:9])

In [16]:
%%time
display(
    tips
    .withColumn('dropoff_census_tract', f.col('dropoff_census_tract').cast(t.StringType()))
    .select(
        split_by_row(f.col('dropoff_census_tract')).alias('udf_block'),
    )
    .groupby('udf_block')
    .count()
    .orderBy('count', ascending=False),
    10
)

CPU times: user 50 ms, sys: 30 ms, total: 80 ms
Wall time: 6.23 s

  udf_block   count
0      None  348792
1      8391  136992
2      0814   78733
3      3201   78488
4      9800   52747
5      0815   49335
6      0817   47492
7      0818   40612
8      2819   35806
9      0812   34744

# UDFs

In [17]:
%%time
tips = tips.withColumn('trip_seconds', (f.unix_timestamp(f.col('end_time')) - f.unix_timestamp(f.col('start_time'))))
display(tips, 5)

CPU times: user 20 ms, sys: 30 ms, total: 50 ms
Wall time: 7.96 s

In [18]:
seconds_pd_udf = f.udf(lambda start_time_series, end_time_series: end_time_series - start_time_series)

In [19]:
%%time
display(
    tips
    .withColumn('trip_seconds', seconds_pd_udf(f.col('start_time'), f.col('end_time'))),
    5
)

CPU times: user 10 ms, sys: 20 ms, total: 30 ms
Wall time: 9.18 s

,trip_id,taxi_id,start_time,end_time,trip_miles,pickup_census_tract,dropoff_census_tract,fare,tips,trip_total,payment_type,company,avg_miles,trip_seconds
0,2d495c6e8ee5cad52f64de2844f5bdd9999c29f5,75dd278c61cc4b3651b76a89407986db8362b1fa6b3947...,2016-07-06 18:45:00,2016-07-06 19:00:00,3.3,17031839100,17031832600,13.25,2.06,15.81,Credit Card,None,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
1,2d4c21df0917fd4c630c704b4d1b501c8aec5e14,99ab99695f31d67888669dcd596cbd0cda61f5c717b8d7...,2016-12-16 19:15:00,2016-12-16 19:30:00,2.1,17031081800,17031832600,9.50,1.50,11.50,Credit Card,None,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
2,2d4fbb3ea94d4ed30fb45c9c7f278ac75b632fff,6848fb65d081cae1ae77f1828f6ec5fce4bb75c28a81bc...,2016-10-26 16:00:00,2016-10-26 16:15:00,0.1,17031081800,17031832600,12.25,3.05,15.30,Credit Card,Taxi Affiliation Services,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
3,2d50340947f1362cdebc258576e8c84423e25f6e,b07a41c369d99e7e7638e698063efe74c8cd8c25e3e9e8...,2016-01-21 20:00:00,2016-01-21 20:00:00,2.7,17031081600,17031832600,10.25,2.55,12.80,Credit Card,Northwest Management LLC,3.349968,"Timedelta: 0 days, 0 seconds, 0 microseconds (..."
4,2d51c476faa582cfa6a4ff99a1e8c08ac2396a0b,9d20d7617e35a8d763ca0bbe3b47308e4bb8e368a8f3bd...,2016-08-12 15:45:00,2016-08-12 17:00:00,15.0,17031980000,17031832600,43.50,14.25,61.75,Credit Card,Northwest Management LLC,3.349968,"Timedelta: 0 days, 4500 seconds, 0 microsecond..."

In [20]:
seconds_udf = f.udf(lambda start_time, end_time: end_time - start_time)

In [21]:
%%time
display(
    tips
    .withColumn('trip_seconds', seconds_udf(f.col('start_time'), f.col('end_time'))),
    5
)

CPU times: user 40 ms, sys: 10 ms, total: 50 ms
Wall time: 11.4 s

,trip_id,taxi_id,start_time,end_time,trip_miles,pickup_census_tract,dropoff_census_tract,fare,tips,trip_total,payment_type,company,avg_miles,trip_seconds
0,2d495c6e8ee5cad52f64de2844f5bdd9999c29f5,75dd278c61cc4b3651b76a89407986db8362b1fa6b3947...,2016-07-06 18:45:00,2016-07-06 19:00:00,3.3,17031839100,17031832600,13.25,2.06,15.81,Credit Card,None,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
1,2d4c21df0917fd4c630c704b4d1b501c8aec5e14,99ab99695f31d67888669dcd596cbd0cda61f5c717b8d7...,2016-12-16 19:15:00,2016-12-16 19:30:00,2.1,17031081800,17031832600,9.50,1.50,11.50,Credit Card,None,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
2,2d4fbb3ea94d4ed30fb45c9c7f278ac75b632fff,6848fb65d081cae1ae77f1828f6ec5fce4bb75c28a81bc...,2016-10-26 16:00:00,2016-10-26 16:15:00,0.1,17031081800,17031832600,12.25,3.05,15.30,Credit Card,Taxi Affiliation Services,3.349968,"Timedelta: 0 days, 900 seconds, 0 microseconds..."
3,2d50340947f1362cdebc258576e8c84423e25f6e,b07a41c369d99e7e7638e698063efe74c8cd8c25e3e9e8...,2016-01-21 20:00:00,2016-01-21 20:00:00,2.7,17031081600,17031832600,10.25,2.55,12.80,Credit Card,Northwest Management LLC,3.349968,"Timedelta: 0 days, 0 seconds, 0 microseconds (..."
4,2d51c476faa582cfa6a4ff99a1e8c08ac2396a0b,9d20d7617e35a8d763ca0bbe3b47308e4bb8e368a8f3bd...,2016-08-12 15:45:00,2016-08-12 17:00:00,15.0,17031980000,17031832600,43.50,14.25,61.75,Credit Card,Northwest Management LLC,3.349968,"Timedelta: 0 days, 4500 seconds, 0 microsecond..."

In [22]:
tips = tips.withColumn('trip_seconds', (f.unix_timestamp(f.col('end_time')) - f.unix_timestamp(f.col('start_time'))))

# Features

In [28]:
features = (
    tips
    .where(f.col('payment_type') == 'Credit Card')
    .select(
        'trip_id',
        'company',
        f.col('pickup_census_tract').cast(t.DoubleType()).alias('census_tract'),
        f.month('start_time').alias('month'),
        f.dayofweek('start_time').alias('day_of_week'),
        f.hour('start_time').alias('hour'),
        'trip_total',
        'trip_seconds',
        'trip_miles',
        'avg_miles',
        f.col('tips').alias('label'),
    )
)

In [29]:
write_df(features, 'features')