## Imports 
helpers is a local file, and the `SparkSession` class is a builder that starts spark on your machine

In [1]:
from pyspark.sql import SparkSession
from helpers import display

## Start spark

In [2]:
spark = (
    SparkSession
    .builder
    .appName('intro')
    .master('local[2]')
    .getOrCreate()
)

## Create a DataFrame

In [3]:
df = spark.createDataFrame(
    data=[
        ('cat', 'Fiona', 11),
        ('dog', 'Sophie', 7),
        ('dog', 'Shultz', 7),
        ('cat', 'Paddington', 1),
        ('dog', 'Belle', 4),
        ('goat', 'Byron', 2)
    ],
    schema=['animal', 'name', 'age']
)

In [4]:
df.show()

+------+----------+---+
|animal|      name|age|
+------+----------+---+
|   cat|     Fiona| 11|
|   dog|    Sophie|  7|
|   dog|    Shultz|  7|
|   cat|Paddington|  1|
|   dog|     Belle|  4|
|  goat|     Byron|  2|
+------+----------+---+

In [5]:
display(df, 10)

  animal        name  age
0    cat       Fiona   11
1    dog      Sophie    7
2    dog      Shultz    7
3    cat  Paddington    1
4    dog       Belle    4
5   goat       Byron    2

In [6]:
df.rdd.getNumPartitions()

2

In [7]:
%%time

df.groupBy('animal').count()

CPU times: user 10 ms, sys: 0 ns, total: 10 ms
Wall time: 206 ms

DataFrame[animal: string, count: bigint]

In [8]:
%%time

display(df.groupBy('animal').count())

CPU times: user 20 ms, sys: 40 ms, total: 60 ms
Wall time: 3.99 s

  animal  count
0    dog      3
1    cat      2
2   goat      1